
<script>
import DatePanel from './index'
export default {
  extends: DatePanel,
  props: {
    val: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      visible: true

    }
  },
  watch: {
    val(val) {
      this.value = val
    }
  },
  created() {
    this.value = this.val
  }
}
</script>

<style scoped>

</style>
