<template>
  <div class="koimy-main-container">
    <div class="koimy-main-header">
      <container-title v-if="$slots.btns">
        <slot name="btns" />
      </container-title>

      <el-form :inline="true" size="mini" label-position="left">
        <slot name="form" />
      </el-form>
    </div>
    <!-- <div>{{ show_loading }}</div> -->
    <el-table v-if="$slots.table" ref="table" v-loading="loading" style="width: 100%" :data="data" :max-height="max_height" size="mini" border stripe fit :highlight-current-row="highlight_current_row" :current-row-key="unique" :row-key="unique" :summary-method="summaryMethod" :show-summary="showSummary" @row-click="row_click" @select="select" @select-all="select_all" @selection-change="selection_change" @sort-change="sort_change">
      <el-table-column v-if="multiple" type="selection" width="55" align="center" fixed="left" />
      <slot name="table" />

    </el-table>

    <div v-if="$slots.table && show" class="koimy-main-footer">
      <el-pagination ref="pagination" :current-page="page_no" :page-sizes="pageSizes" :page-size="pageSizes[0]" layout="total, sizes, prev, pager, next, jumper" :total="page_total" :pager-count="5" @size-change="size_change" @current-change="pagination_current_change" />
    </div>
    <slot />
  </div>
</template>

<script>
import ContainerTitle from '@/components/container-title'
import table_select from '@/mixins/table-select'

export default {
  name: 'ContainerLayout',
  components: {
    ContainerTitle
  },
  mixins: [table_select],
  props: {
    autoInit: {
      type: Boolean,
      default: () => true
    }
  },
  data () {
    return {
      max_height: window.innerHeight / 2
    }
  },
  created () {
    this.autoInit && this.request_data()
  },
  methods: {
    sort_change ({ column, prop, order }) {
      this.$emit('sort-change', { column, prop, order })
    },
    // 重新计算表格的最大高度
    calc () {
      if (!this.$refs.table) return
      this.max_height = (this.show ? (this.$refs.pagination.$el.getBoundingClientRect().top - 5) : window.document.body.getBoundingClientRect().bottom) - this.$refs.table.$el.getBoundingClientRect().top
    }
  }
}
</script>

<style lang="scss">
.koimy-main-container {
  .koimy-main-header {
    .el-form-item {
      margin: 10px;
    }
  }
  .koimy-main-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 4;
    padding-top: 5px;
    background-color: #fff; // rgb(245,245,245);
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }
}
</style>

