// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
  color: #fff !important;
}

.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover,.no-redirect {
  color: #fff !important;
}


.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input { 
  display: none;
}


// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

.el-table thead tr>th {
  background-color: rgb(221,221,221);
  color: #000;


  background: -webkit-linear-gradient(top,#F9F9F9 0,#efefef 100%);
  background: -moz-linear-gradient(top,#F9F9F9 0,#efefef 100%);
  background: -o-linear-gradient(top,#F9F9F9 0,#efefef 100%);
  background: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
  background-repeat: repeat-x;
}

/* 划过的颜色 */
.el-table tbody tr:hover > td {
  background-color: #eaf2ff !important;
}

/* 选中的颜色 */
.el-table tbody tr.current-row > td {
  background-color: #ffe48d !important;
}

.el-dialog__wrapper {
  .el-dialog {
    margin-top: 5vh !important;
  }
  .el-dialog__header{
    padding: 5px 13px 4px;
    background-color:rgb(25, 118, 201);
    span {
      color: #fff;
    }
    .el-dialog__title {
      font-size: 14px;
    }
    .el-dialog__headerbtn {
      top: 8px !important;
      .el-dialog__close {
        color: #fff;
      }
    }
  }
  
  .el-dialog__body {
    padding: 0 0 10px 0;
  }
}

.el-form {
  .el-checkbox, .el-radio {
    margin-right: 10px;
  }
  .el-checkbox__label, .el-radio__label{
    font-size: 12px;
    color:#666
  }
  .el-checkbox__label, .el-radio__label {
    padding-left: 2px;
  }
}