$theme: rgb(25,118,210);

// sidebar
$menuText:#000;
$menuActiveText:#409EFF;
$subMenuActiveText:#000; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#eee;

$subMenuBg:#FAFAFA;
$subMenuHover:#eee;

$sideBarWidth: 210px;

$navbarFontColor: white;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navbarFontColor: $navbarFontColor;
}
