<template>
  <div>
    <el-table
      ref="table"
      v-loading="loading"
      style="width: 100%"
      :data="data"
      :max-height="max_height"
      size="mini"
      border
      stripe
      fit
      :highlight-current-row="highlight_current_row"
      :current-row-key="unique"
      :row-key="unique"
      :summary-method="summaryMethod"
      :show-summary="showSummary"
      @row-click="row_click"
      @select="select"
      @select-all="select_all"
      @selection-change="selection_change"
      @sort-change="sort_change"
    >
      <el-table-column v-if="multiple" type="selection" width="55" align="center" fixed="left" />

      <template v-for="list in headerList">
        <table-column-item v-if="is_hide_column(list.prop)" :key="list.prop" :list="list">
          <template slot="header-template" slot-scope="scope">
            <slot name="header-template" :scope="scope.scope" :list="scope.list" :label="scope.label" />
          </template>
          <template slot="cell-template" slot-scope="scope">
            <slot name="cell-template" :scope="scope.scope" :list="scope.list" :cell-value="scope.cellValue" :row="scope.row" :column="scope.column" :index="scope.index" />
          </template>
        </table-column-item>
      </template>

    <!-- <slot /> -->
    </el-table>
    <div v-if="show" class="koimy-main-footer">
      <el-pagination
        ref="pagination"
        :current-page="page_no"
        :page-sizes="pageSizes"
        :page-size="pageSizes[0]"
        layout="total, sizes, prev, pager, next, jumper"
        :total="page_total"
        :pager-count="5"
        @size-change="size_change"
        @current-change="pagination_current_change"
      />
    </div>
  </div>
</template>

<script>
import table_select from '@/mixins/table-select'
// import { format } from '../../utils/dt'

export default {
  mixins: [table_select],
  props: {
    autoInit: {
      type: Boolean,
      default: true
    },
    headerList: {
      type: Array,
      default: () => ([])
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      max_height: window.innerHeight / 2
    }
  },
  created() {
    this.autoInit && this.request_data()
  },
  methods: {
    is_hide_column(prop) {
      if (!Object.prototype.hasOwnProperty.call(this.options, 'hide-column')) return true
      if (!Array.isArray(this.options['hide-column'])) {
        console.error('hide-column是Array类型')
        return true
      }
      if (this.options['hide-column'].includes(prop)) return false
      return true
    },
    sort_change({ column, prop, order }) {
      this.$emit('sort-change', { column, prop, order })
    },
    // 重新计算表格的最大高度
    calc() {
      if (!this.$refs.table) return
      if (!this.show) {
        this.max_height = window.innerHeight - this.$refs.table.$el.getBoundingClientRect().top - 10
        return
      }
      this.max_height = (this.$refs.pagination.$el.getBoundingClientRect().top - 5) - this.$refs.table.$el.getBoundingClientRect().top
    }
  }
}
</script>
