<template>
  <div>
    <div
      ref="list"
      @mousedown="down($event)"
      @mousemove="move($event)"
      @mouseup="up($event)"
      @keydown="keydown($event)"
      style="width: 800px; height: 1600px; border: 1px solid #000;margin: 0 auto;"
    >
      <div
        v-for="(item,index) in box_data"
        @click="c(index)"
        :key="item.text"
        ref="blockList"
        :class="{selected: item.isSelected}"
        style="width: 200px; height: 200px; border: 1px solid #000;margin: 100px auto;"
      >{{index}}</div>
      <div
        id="moveSelected"
        ref="moveSelected"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      box_data: [
        { text: 1, isSelected: false },
        { text: 2, isSelected: false }
      ],
      flag: false, //是搜开启拖拽的标志
      oldLeft: 0, //鼠标按下时的left,top
      oldTop: 0,
      selectedList: [], //拖拽多选选中的块集合
      isSelected: false,
    }
  },
  mounted () {
    this.bind_key_event()
  },
  beforeDestroy () {
    this.remove_key_event()
  },
  activated () {
    this.bind_key_event()
  },
  deactivated () {
    this.remove_key_event()
  },
  methods: {
    c (index) {
      if (this.flag2) return
      this.box_data = this.box_data.map(i => {
        return {
          ...i,
          isSelected: false
        }
      })
      this.box_data[index].isSelected = true
    },
    keydown (e) {
      console.log(111111);
      if (!e.shiftKey) return
      this.flag2 = true
    },
    keyup (e) {
      if (e.key !== 'Shift') return
      this.flag2 = false
    },
    bind_key_event () {
      this.remove_key_event()
      document.addEventListener('keydown', this.keydown, false)
      document.addEventListener('keyup', this.keyup, false)
    },
    remove_key_event () {
      document.removeEventListener('keydown', this.keydown, false)
      document.removeEventListener('keyup', this.keyup, false)
    },
    down (event) {
      this.clearDragData()
      if (!this.flag2) return
      this.flag = true
      // console.log(e);
      const moveSelected = this.$refs.moveSelected
      // console.log(moveSelected);
      console.log(event);
      moveSelected.style.top = event.clientY + 'px'
      moveSelected.style.left = event.clientX + 'px'
      this.oldLeft = event.clientX
      this.oldTop = event.clientY
      event.preventDefault() // 阻止默认行为
      event.stopPropagation() // 阻止事件冒泡
    },
    move (event) {
      if (!this.flag) return //只有开启了拖拽，才进行mouseover操作
      const moveSelected = this.$refs.moveSelected
      if (event.clientX < this.oldLeft) {
        //向左拖
        moveSelected.style.left = event.clientX + 'px'
        moveSelected.style.width = this.oldLeft - event.clientX + 'px'
      } else {
        moveSelected.style.width = event.clientX - this.oldLeft + 'px'
      }
      if (event.clientY < this.oldTop) {
        //向上
        moveSelected.style.top = event.clientY + 'px'
        moveSelected.style.height = this.oldTop - event.clientY + 'px'
      } else {
        moveSelected.style.height = event.clientY - this.oldTop + 'px'
      }
      event.preventDefault() // 阻止默认行为
      event.stopPropagation() // 阻止事件冒泡
    },
    up (event) {
      const moveSelected = this.$refs.moveSelected
      moveSelected.style.bottom =
        Number(moveSelected.style.top.split('px')[0]) +
        Number(moveSelected.style.height.split('px')[0]) +
        'px'
      moveSelected.style.right =
        Number(moveSelected.style.left.split('px')[0]) +
        Number(moveSelected.style.width.split('px')[0]) +
        'px'
      this.findSelected(event)
      this.flag = false
      this.clearDragData()
      // event.preventDefault() // 阻止默认行为
      event.stopPropagation() // 阻止事件冒泡
    },
    findSelected (event) {
      console.log(event);
      const blockList = this.$refs.blockList
      const moveSelected = this.$refs.moveSelected
      for (let i = 0; i < blockList.length; i++) {
        //计算每个块的定位信息
        moveSelected.getBoundingClientRect()
        console.log(blockList[i].getBoundingClientRect().top);
        let left = blockList[i].getBoundingClientRect().left;
        let left_plus_width = parseFloat(blockList[i].clientWidth) + left;
        let top = blockList[i].getBoundingClientRect().top;
        let top_plus_heigth = parseFloat(blockList[i].clientHeight) + top;

        //判断每个块是否被遮罩盖住（即选中）
        let mask_left = moveSelected.getBoundingClientRect().left;
        let mask_left_plus_width = parseFloat(moveSelected.clientWidth) + mask_left;
        let mask_top = moveSelected.getBoundingClientRect().top;
        let mask_top_plus_heigth = parseFloat(moveSelected.clientHeight) + mask_top;
        // console.log(x, y);
        const b1 = mask_left_plus_width > left && mask_top_plus_heigth > top
        const b2 = mask_left < left_plus_width && mask_top < top_plus_heigth
        if (b1 && b2) {
          this.box_data[i].isSelected = !this.box_data[i].isSelected
        }


      }



      // console.log(selectedList);
    },
    clearDragData () {
      const moveSelected = this.$refs.moveSelected
      moveSelected.style.width = 0
      moveSelected.style.height = 0
      moveSelected.style.top = 0
      moveSelected.style.left = 0
      moveSelected.style.bottom = 0
      moveSelected.style.right = 0
    },
    offset (element) {
      var offest = {
        top: 0,
        left: 0,
      }

      var _position

      getOffset(element, true)

      return offest

      // 递归获取 offset, 可以考虑使用 getBoundingClientRect
      function getOffset (node, init) {
        // 非Element 终止递归
        if (node.nodeType !== 1) {
          return
        }
        _position = window.getComputedStyle(node)['position']

        // position=static: 继续递归父节点
        if (typeof init === 'undefined' && _position === 'static') {
          getOffset(node.parentNode)
          return
        }
        offest.top = node.offsetTop + offest.top - node.scrollTop
        offest.left = node.offsetLeft + offest.left - node.scrollLeft

        // position = fixed: 获取值后退出递归
        if (_position === 'fixed') {
          return
        }

        getOffset(node.parentNode)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
/*需设置定位*/
#moveSelected {
  position: fixed;
  background-color: blue;
  opacity: 0.3;
  border: 1px dashed #d9d9d9;
  top: 0;
  left: 0;
}
.selected {
  background-color: pink;
}
</style>
