
<script>
import DatePanel from './index'
export default {
  extends: DatePanel,
  props: {
    val: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      visible: true
    }
  },
  watch: {
    val(val) {
      this.value = val
    }
  },
  created() {
    this.value = this.val
  },
  methods: {
    clear() {
      this.$refs.date_table.clear_selected()
    }
  }
}
</script>

<style scoped>
</style>
