<template>
  <div>
    <container-layout>
      <!-- :headerList="header_list"
     v-model="select" 
     :request="request_data" -->
      <!-- @current-change="current_change"  -->
      <!-- 按钮组 -->
      <template v-slot:btns>
        <el-button-group>
          <icon name="generation_table" title="Test" @click.native="t" />
        </el-button-group>
        <el-button-group>
          <icon name="generation_table" title="生成日历表" />
          <icon name="approvalform" title="提取节假日" />
          <icon name="edit" title="编辑" />
        </el-button-group>
      </template>
      <slot name="test" />
      <!-- 筛选表单 -->
      <template v-slot:form>
        <el-form-item label="年月:">
          <el-date-picker v-model="month" type="month" placeholder="选择年月" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" icon="el-icon-search" @click="$refs.dy_table.refresh()">查询</el-button>
          <el-button type="success" icon="el-icon-search" @click="toogle">切换列的显示</el-button>
          <el-button type="info" icon="el-icon-search" @click="disabled = !disabled">编辑</el-button>
        </el-form-item>
      </template>

      <!-- 
      <template v-slot:table>


        <template v-for="list in header_list">
          <table-column-item v-if="list.detail ? show_details: true" :key="list.prop" :list="list">
            <template slot="cell-template" slot-scope="data">
          
           <el-link v-if="data.list.template === 'link'" type="primary" @click="f(data.scope)">{{ data.cellValue }}</el-link>
          <el-checkbox v-else-if="data.list.template === 'checkbox'" v-model="data.row[data.list.prop]" :disabled="disabled"/>
          <el-input size="mini"  v-else-if="data.list.template === 'input' && !disabled" v-model="data.scope.row[data.list.prop]" :disabled="disabled"/>
          <template v-else>{{data.cellValue}}</template>
            </template>

          </table-column-item>
        </template>


      </template> -->

      <dynamic-table ref="dy_table" :header-list="header_list" v-model="select" :request="request_data" :pagination="false" :options="options">
        <template slot="cell-template" slot-scope="data">
          <el-link v-if="data.list.template === 'link'" type="primary" @click="f(data.scope)">{{ data.cellValue }}</el-link>
          <el-checkbox v-else-if="data.list.template === 'checkbox'" v-model="data.row[data.list.prop]" :disabled="disabled" />
          <el-input size="mini" v-else-if="data.list.template === 'input' && !disabled" v-model="data.scope.row[data.list.prop]" :disabled="disabled" />
          <template v-else>{{data.cellValue}}</template>
        </template>
      </dynamic-table>
    </container-layout>

  </div>
</template>

<script>
import { format } from '../../utils/dt'
import DynamicTable from '../../components/dynamic-table'
// import Test from "@/views/demo/test.vue"
export default {
  components: {
    DynamicTable,

  },
  data () {
    return {
      show_details: false,
      disabled: true,
      hide_column: [
        'insurd_serno',
        'insurd_style',
        'pi_code',
        'pi_name',
        'insurd_begindate',
        'insurd_closedate',
        'insurd_amount',
        'insurd_memoin'
      ],
      options: {},
      header_list: [
        {
          prop: 'kkk', label: '多级', children: [
            { prop: 'insurm_code', label: '单据编号', width: '180', fixed: 'left', template: 'link' },
            { prop: 'insurm_status', label: '单据状态', width: '100', fixed: 'left', formatter: this.format_state },
            { prop: 'bool', label: '是否', width: '55', template: 'checkbox', align: 'center' },
            {
              prop: 'lll', label: 'lll', width: '110', children: [
                { prop: 'insurm_style', label: '主表保险类别', width: '110' },
                { prop: 'insurm_memo', label: '单据备注', width: '150', template: 'input' },
                { prop: 'group_name', label: '工厂', width: '150' },
                { prop: 'oper_code', label: '操作人工号', width: '120' },
                { prop: 'oper_name', label: '操作人姓名', width: '100' },

              ]
            },

          ]
        },
        // { prop: 'insurm_code', label: '单据编号', width: '180', fixed: 'left',template:'link'},
        // { prop: 'insurm_status', label: '单据状态', width: '100', fixed: 'left',formatter: this.format_state},
        // { prop: 'bool', label: '是否', width: '55',template:'checkbox',align:'center'},
        // { prop: 'insurm_style', label: '主表保险类别', width: '110' },
        // { prop: 'insurm_memo', label: '单据备注', width: '150' ,template:'input'},
        // { prop: 'group_name', label: '工厂', width: '150' },
        // { prop: 'oper_code', label: '操作人工号', width: '120' },
        // { prop: 'oper_name', label: '操作人姓名', width: '100'},
        { prop: 'insurm_operdate', label: '操作日期', width: '100', sortable: true, formatter: this.format_date },
        { prop: 'aterdate', label: '修改日期', width: '100', formatter: this.format_date },
        { prop: 'insurm_auditno', label: '审核人', width: '100' },
        { prop: 'insurm_auditdate', label: '审核日期', width: '100', sortable: true, formatter: this.format_date },
        { prop: 'createman', label: '录入人', width: '100' },
        { prop: 'createdate', label: '录入日期', width: '100', formatter: this.format_date },
        { prop: 'insurd_serno', label: '序号', width: '100' },
        { prop: 'insurd_style', label: '明细保险类别', width: '100', },
        { prop: 'pi_code', label: '员工编号', width: '100' },
        { prop: 'pi_name', label: '员工姓名', width: '100' },
        { prop: 'insurd_begindate', label: '开始日期', width: '100', sortable: true, formatter: this.format_date },
        { prop: 'insurd_closedate', label: '到期日期', width: '100', sortable: true, formatter: this.format_date },
        { prop: 'insurd_amount', label: '金额', width: '100' },
        { prop: 'insurd_memoin', label: '进保明细备注', width: '100' },
        { prop: 'insurm_backreason', label: '退回原因', width: '150' },
        { prop: 'insurm_backno', label: '退回人', width: '100' },
        { prop: 'insurm_backdate', label: '退回时间', width: '100', formatter: this.format_date }
      ],
      month: '',
      select: [],
    }
  },
  created () {
    Object.freeze(this.hide_column)
    this.options['hide-column'] = [
      ...this.hide_column
    ]
  },
  methods: {
    t () {
      console.log(this);
    },
    toogle () {
      this.show_details = !this.show_details
      this.$refs.dy_table.refresh()
    },
    f (row) {
      console.log(row);
      // alert(row.insurm_code)
    },
    // =======START表格内容内容格式化======
    format_date (row, column) {
      const millisecond_date = row[column.property]
      return millisecond_date ? format(millisecond_date, 'YYYY-MM-DD') : ''
    },
    sort_change ({ prop, order }) {
      if (order === null) {
        this.form = {
          ...this.form,
          field: '',
          sort: ''
        }
      } else {
        this.form.field = prop
        this.form.sort = order === 'ascending' ? 'asc' : 'desc'
      }
      this.$refs.container.refresh()
    },
    format_state (row, column) {
      // 格式化进保状态
      const state_num = row[column.property]
      const all_states = {
        0: '未提交',
        100: '待审核',
        200: '已审核',
        300: '已退回'
      }
      return all_states[state_num] || ''
    },
    // =======END表格内容内容格式化======
    request_data (page_no, page_size) {
      console.log('------------------', page_no, page_size)
      return new Promise((resolve) => {
        setTimeout(() => {
          this.options['hide-column'] = this.show_details ? [] : [...this.hide_column]
          const total = 53
          const list_num = page_no * page_size < total ? page_size : page_size - (page_no * page_size - total)
          resolve({
            data: Array(list_num).fill({
              doccode: "2021050634000001",
              bool: false,
              insurm_code: "JBDJ20210500004",
              insurm_style: "医疗保险",
              insurm_status: 100,
              insurm_operdate: 1620268444898,
              insurm_operno: "super1",
              insurm_memo: "测试11111111111111111111111111",
              insurm_backreason: "",
              factoryno: "GC0002",
              group_code: "GC001",
              group_name: "kyi1",
              insurm_auditno: "super",
              insurm_auditdate: 1623314687096,
              insurm_backno: "super",
              insurm_backdate: 1620283224137,
              createman: "super",
              createdate: 1620268445039,
              aterdate: 1625541116250,
              rownumber: 1,
              oper_code: "super1",
              oper_name: "super1",
              insurm_explanno: "",
              pi_code: "",
              pi_name: "",
            }).map((i, index) => {
              const doccode = (page_no - 1) * page_size + index
              // console.log(doccode)
              return {
                ...i,
                doccode,
                insurm_code: i.insurm_code + doccode
              }
            }),
            total: total
          })
        }, 1000)
      })
    },
  }
}
</script>

<style lang="scss" scoped>
</style>
