<template>
  <div>
    <template v-if="!item.children">
      <div style="color: blue;">
        <slot name="test" :item="item"></slot>
      </div>
      <!-- <slot name="test" :item="item"></slot> -->
    </template>

    <template v-else>
      <div>
        <slot name="test" :item="item"></slot>
      </div>
      <div style="color: red;">
        <template v-for="item2 in item.children">
          <slot-demo :key="item2.id" :item="item2">
            <template slot="test" slot-scope="list">
              <slot name="test" :item="list.item"></slot>
            </template>
          </slot-demo>
        </template>
      </div>
    </template>

  </div>
</template>

<script>
export default {
  name: 'slot-demo',
  props: {
    item: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      // list:  [
      //   {id:1,value:'A'},
      //   {id:2,value:'B'},
      // ]
    }
  },
}
</script>

<style lang="scss" scoped>
</style>