<template>
  <div class="el-button" style="padding: 10px;border:0;">
    <img :src="icons_data[name]" style="width: 16px;height: 16px">
    <span style="position: relative;top: -2px;">{{ title }}</span>
  </div>
</template>

<script>
import icons_data from './icons'

export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    }
  },
  data: function() {
    return {
      icons_data
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/variables.scss";

.el-button {
  &:hover{
    background-color: rgb(25,118,210) !important;
    color: #fff;
  }
  background:rgb(217,232,255);
  color: $theme;
  font-size: 12px;
}
</style>
