<template>
  <div class="koimy-main-title">
    <slot />
  </div>
</template>

<script>

export default {
  props: {

  },
  data() {
    return {

    }
  }
}
</script>

<style lang="scss">
.koimy-main-title {
    height: 38px;
    background: rgb(217,232,255);
    color: #606266;
    display: flex;
    align-items: center;
    :not(:last-child).el-button-group{
      border-right: 1px solid #fff !important;
      border-width: 50%;
    }
}
</style>

