
<script>
import CustumCalendar from './components/index'
export default {
  extends: CustumCalendar
}
</script>

<style lang="scss" scoped>
.el-calendar {
  // box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  .el-calendar__body {
    padding: 14px 10px 14px;
  }
}
</style>
