<template>
  <div>
    <calendar
      ref="calendar"
      class="custum_calendar"
      :val="val"
      :cell-info="cellInfo"
      :options="options"
      @pick="p"
      @drag-select="l"
    />
  </div>
</template>

<script>
import Calendar from './components/calendar'
export default {
  components: {
    Calendar
  },
  props: {
    options: {
      type: Object,
      default: () => ({})
    },
    cellInfo: {
      type: Object,
      default: () => ({})
    },
    value: {
      type: Date,
      default: new Date()
    }
  },
  data() {
    return {
      val: new Date()
    }
  },
  watch: {
    value(val) {
      this.val = val
    }
  },
  methods: {
    clear() {
      this.$nextTick(() => {
        this.$refs.calendar.clear()
      })
    },
    p(...args) {
      this.val = args[0]
      this.$emit('cell-click', args)
    },
    l(val) {
      this.$emit('drag-select', val)
    }
  }

}
</script>

<style lang="scss" scoped>
::v-deep .custum_calendar.el-picker-panel {
  width: 100%;
  .el-picker-panel__content {
    width: 100%;
    margin: 0;
  }

  tr.el-date-table__row {
    &:nth-child(2) {
      td {
        border-top-width: 0;
      }
    }
    td {
      border-right: 1px solid #dcdfe6;
      border-top: 1px solid #dcdfe6;
      &:last-child {
        border-right-width: 0;
      }
      &.current {
        background-color: #409eff;
      }
      div {
        margin: 0;
        padding: 0;
        height: auto;
        &.flex_box {
          display: flex;
          div {
            flex: 2;
            width: 100%;
            // height: 75px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.right {
              flex: 3;
            }
          }
          span {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: static;
            height: 100%;
            width: 100%;
            text-align: center;
            transform: translateX(0);
            background: transparent;
            border-radius: 0;
          }
        }
      }
    }
  }
}
</style>
