<template>
  <div id="app">
    <el-row>
      <el-button @click="flag='picker48'">picker48</el-button>
      <el-button type="primary" @click="flag = 'container-layout'">container-layout</el-button>
      <el-button type="success" @click="flag='custum_calendar2'">custum_calendar2</el-button>
      <el-button type="drag-select" @click="flag='drag-select'">drag-select</el-button>
      <el-button type="warning" @click="flag='custum_calendar'">custum_calendar</el-button>
      <el-button type="danger" @click="flag='img_upload'">img_upload</el-button>
    </el-row>
    <br />
    <br />
    <div v-if="flag === 'drag-select'">
      <drag-select></drag-select>
    </div>

    <div v-if="flag === 'container-layout'">
      <container-layout-demo>
        <template v-slot:test>

          <test ref="Te" />
          <div>
            <h2>4444</h2>
          </div>

        </template>

      </container-layout-demo>
    </div>

    <div v-if="flag === 'picker48'">
      <!-- :picker-options="{ selectableRange: '18:30:00 - 20:30:00'}" -->
      <br />
      <br />
      <time-picker48 v-model="value2" value-format="HH:mm" format="HH:mm" placeholder="任意时间点" />
      <br />
      <br />
      <!-- <hello-world1 :visible="true" /> -->
      <!-- :picker-options="{ selectableRange: '11:30:00 - 40:30:00'}" -->

      <time-picker48 v-model="value3" value-format="HH:mm" format="HH:mm" placeholder="任意时间点" arrow-control />
    </div>

    <div v-if="flag === 'custum_calendar2'">
      <el-button @click="$refs.custum_calendar2.clear()">清理选择</el-button>
      <div style="width: 900px; margin: 0 auto;">
        <custum-calendar2 ref="custum_calendar2" :value="value4" @cell-click="v" :cell-info="info" :options="options" @drag-select="l">
        </custum-calendar2>
      </div>
      <br>
      <el-date-picker v-model="value4" align="center" type="date" @change="c" placeholder="选择日期">
      </el-date-picker>

    </div>

    <div v-if="flag === 'custum_calendar'">
      <el-button @click="$refs.custum_calendar.clear()">清理选择</el-button>
      <el-button @click="$refs.custum_calendar.set_cell_highlight(2)">2高亮号</el-button>
      <div style="width: 900px; margin: 0 auto;">
        <custum-calendar ref="custum_calendar" v-model="value5" @cell-click="p2" @drag-select="l2" :cell-info="info" :options="options" :firstDayOfWeek="1">
          <!-- <template
          slot="dateCell"
          slot-scope="{data}"
        >
          <p :class="data.isSelected ? 'is-selected' : ''">
            {{ data.day.split('-').slice(1).join('-') }} {{ data.isSelected ? '✔️' : ''}}
            {{a(date)}}
          </p>
        </template> -->
        </custum-calendar>
      </div>

      <el-date-picker v-model="value5" align="center" type="date" @change="c" placeholder="选择日期">
      </el-date-picker>
    </div>

    <div v-if="flag === 'img_upload'">
      <image-upload />
    </div>
  </div>
</template>

<script>

import ContainerLayoutDemo from "@/views/demo/container-layout-demo.vue";
import TimePicker48 from "./components/time-picker48/index";
import CustumCalendar from "./components/custum-calendar/index"
import CustumCalendar2 from "./components/custum-calendar2/index"
import DragSelect from "./components/drag-select/index"
import Test from './views/demo/test.vue';

import ImageUpload from "@/views/demo/image-upload.vue";


export default {
  name: "App",
  components: {
    TimePicker48,
    CustumCalendar2,
    ContainerLayoutDemo,
    DragSelect,
    CustumCalendar,
    ImageUpload,
    Test

  },
  data () {
    return {
      flag: 'img_upload',
      // flag: 'custum_calendar',
      value1: "",
      value2: "35:03",
      value3: "36:04",
      value4: new Date(),
      value5: new Date(),
      options: {
        turn_page: false,
        ratio_height_to_width: .6,
        drag_select: true,
      },
      info: {
        y2021m8: {
          info1: 'AAAAAA1111111111111111111111111111111111111111111111111111111111111111111111111111111111111',
          info2: 'BBB2'
        },
        disable_page: true,
      },
    };
  },

  methods: {

    p2 (date) {
      console.log("date", date);
      // this.value5 = date[0]
    },
    a (str) {
      console.log("str", str);
    },
    v (val) {
      console.log(val);
      this.value4 = val[0]
    },
    c (v) {
      this.value4 = v
    },
    l (selected) {
      console.log(selected);
    },

    l2 (selected) {
      console.log(selected);
    }

  },
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
